<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" href="/client/css/style.css">
</head>

<body>
    <main>
        <section>
            <div class="container">
                <div action="/invoice/<%= custom %>" method="post" id='form' class="form">
                    <div id='receipt'>
                        <div>
                            <h1 id="title">Invoice</h1>
                            <p>Date Issuesed: <%= date_issued %>
                            </p>
                            <p>Pay to:
                                <%= merchant %>
                            </p>
                            <p>Invoice ID: <span id="invoice-id"></span><%= invoice %>
                            </p>
                            <p>Amount: <span id="amount-display"><%= amount %></span>
                            </p>
                            <p>Status: <span id="status">Unpaid</span></p>
                        </div>
                        <div>
                            <p>Product: <%= name %>
                            </p>
                            <p>Description: <%= description %>
                            </p>
                        </div>
                        <div>
                            <p>eToken Address: <span id="address-display"><%= address %></span>
                            </p>
                        </div>
                    </div>
                    <button class="btn-seconday" type="button" id="download-pdf">Download PDF</button>
                    <a href="<%= payUrl %>"><button class="btn-primary" >Pay This Invoice</button></a>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="/client/js/invoice.js"></script>
</body>

</html>