<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

        :root {
            --dark1: #0b101b;
            --dark2: #181e29;
            --dark3: #353c4a;
            --light1: #ffffff;
            --light2: #f0f3f8;
            --light3: #c9ced6;
            --blue1: #144ee3;
            --blue2: #1b6eff;
        }

        body {
            margin: 0;
            background-color: var(--dark1);
            color: var(--light3);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
        }

        section {
            padding-block: 80px;
        }

        p {
            overflow-wrap: break-word;
        }

        .hidden {
            display: none;
        }

        .container {
            width: 100%;
            max-width: 400px;
            margin-inline: auto;

        }

        .form {
            padding: 66px 55px;
            background-color: var(--dark2);
            border-radius: 14px;
            box-shadow: 0 2px 7px 0 hsla(214.28571428571428, 33.33%, 4.12%, 0.15);
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .input-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
            font-weight: bold;
            color: var(--light1);
        }

        input {
            width: 100%;
            padding: 16px 24px;
            box-sizing: border-box;
            min-height: 58px;
            font-weight: 500;
            line-height: 1.125em;
            color: var(--light1);
            background-color: var(--dark3);
            border: 0px solid var(--dark3);
            border-radius: 100px;
        }

        .btn-primary {
            padding: 20px 24px;
            width: 100%;
            font-weight: bold;
            color: var(--light1);
            background-color: var(--blue1);
            border: 0px solid var(--blue1);
            border-radius: 100px;
            font-size: 16px;
        }

        .btn-primary:hover {
            background-color: var(--blue2);
        }

        .btn-seconday:hover {
            background-color: var(--dark1);
        }

        .btn-seconday {
            padding: 20px 24px;
            width: 100%;
            font-weight: bold;
            color: var(--light1);
            background-color: var(--dark2);
            border: 1px solid var(--dark3);
            border-radius: 100px;
            font-size: 16px;
        }

        #download-pdf {
            display: none;
        }

        @media (max-width: 480px) {
            section {
                padding: 0px;
            }
            .form {
            border-radius: 0px;
        }
        }
    </style>
</head>

<body>
    <main>
        <section>
            <div class="container">
                <form action="/invoice/<%= custom %>" method="post" id='invoice' class="form">
                    <div id='receipt'>
                        <div>
                            <h1 id="title">Invoice</h1>
                            <p>Date Issuesed: <%= date_issued %>
                            </p>
                            <p>To:
                                <%= merchant %>
                            </p>
                            <p>Invoice ID: <%= invoice %>
                            </p>
                            <p>Amount: <span id="amount-display"></span>
                            </p>
                            <p>Status: <span id="status">Unpaid</span></p>
                        </div>
                        <div>
                            <p>From:
                                <%= recipient %>
                            </p>
                            <p>Product: <%= name %>
                            </p>
                            <p>Description: <%= description %>
                            </p>
                        </div>
                        <div>
                            <p>eToken Address: <span id="address-display"></span>
                            </p>
                        </div>
                    </div>
                    <div class="hidden">
                        <input type="text" name="name" id="name" value="<%= name %>">
                        <input type="text" name="description" id="description" value="<%= description %>">
                        <input type="text" name="invoice" id="invoice" value="<%= invoice %>">
                        <input type="text" name="custom" id="custom" value="<%= custom %>">
                        <input type="text" name="merchant" id="merchant" value="<%= merchant %>">
                        <input type="text" name="merchant-addr" id="merchant-addr" value="<%= address %>">
                        <input type="text" name="amount" id="amount" value="<%= amount %>">
                        <input type="text" name="success" id="success">
                        <input type="text" name="cancel" id="cancel">
                        <input type="text" name="ipn" id="ipn" value="/ipn">
                        <input type="text" name="returnJson" id="returnJson" value='true'>
                    </div>
                    <button class="btn-seconday" type="button" id="download-pdf">Download PDF</button>
                    <button class="btn-primary" type="submit" id="submit">Pay This Invoice</button>
                </form>
            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script>

        window.addEventListener('load', checkStatus());
        function checkStatus() {
            fetch('/ispaid?data={"custom":"<%= custom %>", "invoice":"<%= invoice %>"}')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const truth = data.found;
                    if (truth) {
                        document.getElementById('status').style.color = 'green';
                        document.getElementById('status').innerText = 'Paid';
                        document.getElementById('download-pdf').style.display = 'block';
                        document.getElementById('submit').style.display = 'none';
                        document.getElementById('title').innerText = 'Receipt';
                    } else {
                        document.getElementById('status').style.color = 'red';
                        document.getElementById('status').innerText = 'Unpaid';
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
        setTimeout(function () {
            checkStatus();
        }, 1000);



        const invoice = document.getElementById("invoice");
        invoice.addEventListener('submit', loading);

        function loading() {
            document.getElementById('submit').innerText = 'Please wait...';
        }

        const addressUnformated = '<%= address %>';
        const addressFormated = addressUnformated.split(",").join("<br />");
        const amountUnformated = '<%= amount %>';
        const amountFormated = amountUnformated.split(",");
        const sum = amountFormated.reduce((total, num) => {
            return total + parseInt(num);
        }, 0);
        document.getElementById('address-display').innerHTML = addressFormated;
        document.getElementById('amount-display').innerText = '$' + sum;
        document.getElementById('success').value = window.location.href;
        document.getElementById('cancel').value = window.location.href;
        document.getElementById('ipn').value = window.location.origin + '/ipn';


        // Add the PDF download functionality
        const downloadPDF = () => {
            const pdf = new jsPDF();
            const receipt = document.querySelector("#receipt");

            // Add CSS styles to set text color to black
            receipt.style.color = "black";

            pdf.fromHTML(receipt, 15, 15, {
                width: 170
            });
            pdf.save("receipt.pdf");
            receipt.style.color = "#c9ced6";
        };

        document.querySelector("#download-pdf").addEventListener("click", downloadPDF);

    </script>
</body>

</html>